name: Build

on:
  pull_request:
    branches: [ main ]

jobs:
  build:
    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: 1
    name: Build
    runs-on: macos-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Build
        run: dotnet build test/Xamarin.Forms.TestingLibrary.Tests/Xamarin.Forms.TestingLibrary.Tests.csproj --configuration Release

      - name: Test
        run: dotnet test ./test/Xamarin.Forms.TestingLibrary.Tests/Xamarin.Forms.TestingLibrary.Tests.csproj /p:CollectCoverage=true /p:CoverletOutputFormat=cobertura

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1.2.1
        with:
            token: ${{ secrets.CODECOV_TOKEN }}
            files: ./coverage.cobertura.xml
            directory: ./test/Xamarin.Forms.TestingLibrary.Tests/
            flags: unittests
            name: codecov-umbrella
            fail_ci_if_error: true
            path_to_write_report: ./coverage/codecov_report.txt
            verbose: true
